<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                            Login
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger ">*username required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="username"> 
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger ">
                                *password is required
                            </small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                                    <span class="fa fa-lock  p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <div class="from-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Forget password?</a>
                            </div>
                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login </button>
                            <div class="text-center pt-4 w-100 text-muted" > Don't have an account?<a id="forget" routerLink= "/signup">sign-up</a></div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.facebook.com" target="_blank" class="px-2 "><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIV6PEWzGaSHNSHSTOkK7eprQKBr58XTKeZyv9Pj3y4moMfs1I&s"></a>
                            <a href="https://www.facebook.com" target="_blank" class="px-2 "><img src="https://www.freepnglogos.com/uploads/new-google-logo-transparent--14.png"></a>
                            <a href="https://www.facebook.com" target="_blank" class="px-2 "><img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-facebook-logo-png-transparent-svg-vector-bie-supply-16.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
